*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}





.searchbar {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #3d3d41;
    padding: 7px;
    margin: 10px 0;
    height: clamp(25px, 10vw, 30px); /* Adjust the height of the icon area */
    width: clamp(250px, 20vw, 300px); /* Adjust the width of the icon area */
  }
   
  .searchIcon  {
    margin-right: 5px;
    background-color: inherit;

  }
  
  .searchInput {
    border: none;
    outline: none;
    background-color: #3d3d41;
    flex-grow: 1; /* This allows the input field to take up the remaining space */
  }




.topbar{
    width: 80%; /* Adjust the width of the icon area */
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
}

.sendIcon{
    margin-right: 5px;
    background-color: inherit;
    rotate: -15deg;
}

.AddPhoto{
    width: 150px;;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(to bottom, #dc6445 0%, #e29a63 100%);
}

.AddPhoto span{
   background-color: none;
   font-size: 20px;
}

.feature{
    width:clamp(250px, 20vw, 500px); /* Adjust the width of the icon area */
    display: flex;
    justify-content: space-around;
    align-items: center;   
}


.post{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}



.title{
    width: 100%;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: left;
    margin-left: 2rem;
    font-family: 'Proxima Nova';
}

.postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}

.postImgContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: clamp(450px, 20vw, 500px);
    margin: 15px;

}

.postImg {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.postInfo {

    height: 30px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.likeIcon, .commentIcon {
    position: relative;
    color: rgb(0, 0, 0);
    margin: 5px;
}

.likeCount, .commentCount {
    margin: 5px;
    font-size: 16px;
    color: white;
}

.profilepart div{
    display:none;
}



@media (max-width: 768px) {   
    .searchbar {
      display: none;
    }
   
    #hometopbar{
        z-index: 2;
    }

    .postContainer{
        width: 100%;
    }

    .feature{
        background-color:inherit;
        padding: 10px;
        border-radius: 10px;
        position: fixed;
        bottom: 80px;
        z-index: 2;
        right: 0;
    }
    .profilepart{
        height: 30vh;
    }


    
  }



     
    
    
    
    