

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: transparent;
}


.searchbar {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #3d3d41;
    padding: 7px;
    margin: 10px 0;
    height: clamp(25px, 10vw, 30px); /* Adjust the height of the icon area */
    width: clamp(250px, 20vw, 300px); /* Adjust the width of the icon area */
  }
   
  .searchIcon  {
    margin-right: 5px;
    background-color: inherit;

  }
  
  .searchInput {
    border: none;
    outline: none;
    background-color: #3d3d41;
    flex-grow: 1; /* This allows the input field to take up the remaining space */
  }

.ser_feat_area{
    width: 70vw;
  
}

  .friendsRow{
    gap:10px;
    width:75vw;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: scroll;
    
  }




.topbar{
    width: 100%; /* Adjust the width of the icon area */
    height: 25vh;
    gap: 10px;
}

.sendIcon{
    margin-right: 5px;
    background-color: inherit;
    rotate: -15deg;
}

.AddPhoto{
    width: 150px;;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(to bottom, #dc6445 0%, #e29a63 100%);
}

.AddPhoto span{
   font-size: 20px;
}

.feature{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}


.post{
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
   
}



.title{
    width: 100%;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: left;
    margin-left: 2rem;
    font-family: 'Proxima Nova';
}

.postContainer {
    column-count: 3;
    column-gap: 10px;
    width:95%; /* Adjust the width of the icon area */

}

.postImgContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    margin: 15px;
    width: 95%;
    break-inside: avoid;
}

.postImg {
    width: 100%;
    border-radius: 10px;
}

.postInfo {
    height: 30px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.likeIcon, .commentIcon {
    position: relative;
    color: rgb(0, 0, 0);
    margin: 5px;
}

.likeCount, .commentCount {
    margin: 5px;
    font-size: 16px;
    color: white;
}


@media (max-width: 768px) {   
    .searchbar {
      display: none;
    }
    .feature{
        background-color:inherit;
        padding: 10px;
        border-radius: 10px;
        position: fixed;
        bottom: 80px;

        right: 0;
    }

    .FrndTag{
        display: none;
    }

    .friendsRow{
        width: 90%;
    }

    .post{
        height: 68%;
    }
   
 
  }




  @media (max-width: 1200px) {
    .postContainer {
        column-count: 3;
    }

    
}

@media (max-width: 800px) {
    .postContainer {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .postContainer {
        column-count: 2;
  
    }

   
}


     
    
    