*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    color:white ;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.topbarContainer{
    width: clamp(250px, 20vw, 300px); /* Adjust the width of the icon area */
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #171718;
    border-radius: 0px 10px 10px 0px;
}

.topbarContainer div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profileContainer{
    width:100%;
    height: 250px;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.profiledetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
  }



.topbarIcon .Icon,span {
    cursor: pointer;
    font-size: 30px; /* Adjust the size of the icon */
}

.profileImgContainer .Icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #48484d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 50px;
}


.logo{
    position: fixed;
    width: 65px;
    height: 60px;
}

.IconName,.profileElmt{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    
}

.topbarIcon{
    width: clamp(80px, 20vw, 200px); /* Adjust the width of the icon area */
    cursor: pointer;
    transition: 0.3s;
}




  
  .profiledetails .postNumber,
  .profiledetails .followerNumber,
  .profiledetails .followingNumber {
    font-size: 1.5em; /* make the number larger */
    font-weight: bold; /* make the number bold */
    flex-direction: column;
  }
  

  



@media (max-width: 768px) { /* This is a common breakpoint for tablets and below */
    
    .topbarContainer {
        position: fixed;
        display: flex;
        flex-direction: row;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px; /* Adjust according to your design */
        width: 100%;
         padding: 5px; /* Adjust according to your design */
        border-radius: 0px;

    }

    .IconName {
        display: none; /* Hide icon name */
    }

    .profileContainer{
        position: fixed;
    }

    .profileContainer div{
        display:none
    }


    .logo {
       top: 0;
       left: 0;
    }

    
   
  
}




